@import './fonts';
@import 'vars';
@import 'animation';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @extend %ubuntu-light;
  font-size: 15px;
  overflow-x: hidden;
  color: #fff;
  min-width: 320px;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 43px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__m-menu {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
  }

  &__m-menu-span {
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 12px);
    width: 24px;
    height: 2px;
    background-color: #fff;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: #fff;
      transition: 0.2s;
    }

    &::before {
      transform: translateY(-6px);
      width: 24px;
    }

    &::after {
      transform: translateY(6px) translateX(8px);
      width: 16px;
    }

    &.active {
      height: 0;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        width: 24px;
        transform: rotate(-45deg);
      }
    }
  }
}

.button {
  position: relative;
  @extend %ubuntu-medium;
  line-height: 17px;
  padding: 6px 28px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  transition: 0.3s;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 60px;
    height: 100%;
    background-color: #fff;
    filter: blur(40px);
    transform: skewX(-30deg);
    transition: 1s;
    animation: moveLight 8s 5s infinite;
  }

  &:hover {
    color: #000;
    background-color: #fff;
  }

  &:active {
    transform: scale(0.95);
  }

  &.modal__cancel {
    &::before {
      animation: none;
    }
  }
}

.header-btn {
  margin: 0 8px;
}

.menu {
  &__items {
    display: flex;
  }

  &__item {
    padding: 0 10px;
  }

  &__link {
    @extend %ubuntu-medium;
    line-height: 17px;
  }
}

.section {
  position: relative;
  overflow: hidden;
}

.top {
  background: center/ cover no-repeat url('../images/bg-first-page.jpg');
  position: relative;

  &::after {
    content: '';
    background: radial-gradient (
      45.97% 54.43% at 50% 45.57%,
      rgba(23, 26, 28, 0) 50.28%,
      rgba(23, 26, 28, 0.00225974) 50.29%,
      rgba(4, 5, 5, 0.820343) 58.72%,
      rgba(5, 5, 6, 0.792703) 80.08%,
      #000 87.89%
    );
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__inner {
    padding: 120px 0 55px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
  }

  &__title {
    @extend %sf-semibold;
    font-size: 96px;
    line-height: 115px;
    margin-bottom: 5vh;
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);

    &.animate {
      animation: zoomIn 1s forwards;
    }
  }

  &__dron-img {
    max-width: 660px;
    max-height: 200px;
    transform: rotate3d(0, 0, 1, -200deg);
    transform: translate3d(100%, -100%, 0);
    opacity: 0;

    &.animate {
      animation: rotateInRightTop 1.5s forwards 0.5s;
      transform-origin: center;
    }
  }

  &__text {
    margin: 6vh 0 9vh;
    font-size: 17px;
    line-height: 150%;
    max-width: 325px;
    text-align: center;
    opacity: 0;

    &.animate {
      animation: fadeIn 1s forwards 1.5s;
    }
  }
}

.title {
  @extend %sf-regular;
  font-size: 44px;
  line-height: 53px;
}

.social {
  &__link {
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }

    + .social__link {
      margin-left: 50px;
    }
  }
}

.facebook-top {
  opacity: 0;
  transform: translateX(-300%) rotate(-360deg);

  &.animate {
    animation: rollInLeft 1.5s forwards 1.5s;
  }
}

.youtube-top {
  opacity: 0;
  transform: scale3d(0.3, 0.3, 0.3);

  &.animate {
    animation: zoomIn 1.5s forwards 1.5s;
  }
}

.instagram-top {
  opacity: 0;
  transform: translateX(300%) rotate(360deg);

  &.animate {
    animation: rollInRight 1.5s forwards 1.5s;
  }
}

.scroll-arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin-top: 1vh;
  text-align: center;
  z-index: 5;
  animation: pulse 1s infinite ease-in-out;
}

.about,
.advantages,
.specification,
.questions,
.contacts {
  background: center/ cover no-repeat url('../images/bg-image.jpg');
  position: relative;

  &::after {
    content: '';
    background: linear-gradient (
      119.35deg,
      rgba(23, 26, 28, 0.72) 0%,
      #5e5e57 100%
    );
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.about {
  &__inner {
    position: relative;
    min-height: 100vh;
    z-index: 1;
    padding: 13vh 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  &__description {
    margin-top: 100px;
  }

  &__title {
    max-width: 440px;
    opacity: 0;

    &.animate {
      animation: fadeIn 1s 0.3s forwards;
    }
  }

  &__text-box {
    margin: 35px 0 0 30px;
  }

  &__text {
    font-size: 17px;
    line-height: 150%;
    max-width: 440px;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);

    & + & {
      margin-top: 25px;
    }

    &-first.animate {
      animation: fadeInLeft 1s forwards 0.4s;
    }

    &-second.animate {
      animation: fadeInLeft 1s forwards 0.8s;
    }
  }

  &__slider-box {
    margin-top: 35vh;
    max-width: 560px;
    max-height: 300px;
    position: relative;
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);

    &::after {
      content: '';
      position: absolute;
      top: -15px;
      right: -17px;
      width: 562px;
      height: 278px;
      border: 4px solid #fff;
    }

    &.animate {
      animation: zoomIn 1s forwards 0.8s;
    }
  }

  &__slider {
    z-index: 1;
  }

  &__text-slider {
    position: absolute;
    bottom: -30px;
    left: -242px;
    max-width: 285px;
    z-index: 2;
  }

  &__slider-text {
    @extend %ubuntu-medium;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
  }

  &__slider-img {
    position: relative;
    max-width: 560px;
  }

  &__slider-btn {
    position: absolute;
    bottom: -51px;
    right: 0;
    padding: 16px 26px;
    border: 0;

    &-left {
      right: 62px;
    }

    &.slick-disabled {
      background-color: #1c1c1c;
      color: #fff;
    }
  }
}

.advantages {
  &__inner {
    min-height: 100vh;
    padding: 20vh 0 55px;
    z-index: 1;
  }

  &__title {
    padding-bottom: 5vh;
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);

    &.animate {
      animation: zoomIn 0.5s forwards;
    }
  }

  &__list {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    width: 48%;
    display: flex;
    position: relative;

    &:first-child,
    &:nth-child(2) {
      margin-bottom: 115px;
    }

    &:first-child {
      opacity: 0;
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      margin-left: 30px;
      opacity: 0;
    }

    &:last-child {
      opacity: 0;
    }

    &:nth-child(2),
    &:last-child {
      margin-top: 15px;
    }
  }

  &__item.animate {
    &:first-child {
      animation: fadeIn 1s forwards;
    }

    &:nth-child(2) {
      animation: fadeIn 1s forwards 1.3s;
    }

    &:nth-child(3) {
      animation: fadeIn 1s forwards 2.8s;
    }

    &:last-child {
      animation: fadeIn 1s forwards 4.2s;
    }
  }

  &__path-line1to2.animate {
    animation: animLine1to2 0.8s forwards 0.5s;
  }

  &__path-line2to3.animate {
    animation: animLine2to3 1s forwards 1.8s;
  }

  &__path-line3to4.animate {
    animation: animLine3to4 1s forwards 3.3s;
  }

  &__item-number {
    position: absolute;
    bottom: 0;
    left: -32px;
    @extend %ubuntu-bold;
    font-size: 36px;
    line-height: 41px;
  }

  &__img-wrapper {
    position: relative;
    margin-right: 32px;

    &::after {
      content: '';
      width: 194px;
      height: 129px;
      border: 2px solid #fff;
      position: absolute;
      top: -12px;
      left: 12px;
    }
  }

  &__img {
    position: relative;
    max-width: 195px;
    max-height: 130px;
    z-index: 1;
  }

  &__item-title {
    padding-bottom: 10px;
    max-width: 160px;
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 24px;
  }

  &__item-text {
    max-width: 300px;
    line-height: 130%;
  }

  &__line1to2 {
    position: absolute;
    top: 31px;
    right: 10px;
  }

  &__line2to3 {
    position: absolute;
    bottom: -80px;
    left: -470px;
  }

  &__line3to4 {
    position: absolute;
    top: 31px;
    right: 10px;
  }

  &__path-line1to2 {
    stroke-dasharray: 260;
    stroke-dashoffset: -260;
  }

  &__path-line2to3 {
    stroke-dasharray: 490;
    stroke-dashoffset: -490;
  }

  &__path-line3to4 {
    stroke-dasharray: 260;
    stroke-dashoffset: -260;
  }
}

.specification {
  &__inner {
    min-height: 100vh;
    padding: 20vh 0 55px;
    z-index: 1;
  }

  &__title {
    padding-bottom: 8vh;
    opacity: 0;

    &.animate {
      animation: fadeIn 1s 0.3s forwards;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__items-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }

  &__img {
    max-width: 660px;
    max-height: 221px;
    transform: translateY(-1200px) scale(0.7);
    opacity: 0;

    &.animate {
      animation: backInDown 1s forwards;
    }
  }

  &__pointer-dot {
    opacity: 0;

    &.animate {
      animation: fadeIn 1s forwards 0.8s;
    }
  }

  &__pointer-line1 {
    stroke-dasharray: 292;
    stroke-dashoffset: 292;

    &.animate {
      animation: animLine 1s forwards 1.3s;
    }
  }

  &__pointer-line2 {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;

    &.animate {
      animation: animLine 1s forwards 1.3s;
    }
  }

  &__pointer-line3 {
    stroke-dasharray: 300;
    stroke-dashoffset: -300;

    &.animate {
      animation: animLine 1s forwards 1.3s;
    }
  }

  &__pointer-line4 {
    stroke-dasharray: 77;
    stroke-dashoffset: 77;

    &.animate {
      animation: animLine 1s forwards 1.3s;
    }
  }

  &__item {
    max-width: 280px;
    position: relative;

    + .specification__item {
      margin-top: 17vh;
    }
  }

  &__item-title {
    margin-bottom: 10px;
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 28px;
    opacity: 0;

    &.animate {
      animation: fadeIn 1s forwards 2s;
    }
  }

  &__item-text {
    line-height: 130%;
    opacity: 0;

    &.animate {
      animation: fadeIn 1s forwards 2s;
    }
  }

  &__pointer1,
  &__pointer2,
  &__pointer3,
  &__pointer4 {
    position: absolute;
  }

  &__pointer1 {
    top: 16px;
    right: -81px;
  }

  &__pointer2 {
    top: -66px;
    right: -274px;
  }

  &__pointer3 {
    top: 14px;
    left: -223px;
  }

  &__pointer4 {
    top: -13px;
    left: -99px;
  }
}

.questions {
  &__inner {
    position: relative;
    min-height: 100vh;
    padding: 20vh 0 55px;
    z-index: 1;
    width: 100%;
  }

  &__title {
    padding-bottom: 8vh;
    opacity: 0;
    z-index: 2;

    &.animate {
      animation: fadeIn 1s 0.3s forwards;
    }
  }

  &__img {
    position: absolute;
    top: 165px;
    right: 0;
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
    z-index: -1;

    &.animate {
      animation: fadeInTopLeftQuestions 2s forwards 1s;
    }
  }
}

.accordion {
  &__item {
    position: relative;
    z-index: 2;
    padding-left: 50px;
    padding-right: 10px;
    margin-right: 70px;
    max-width: 700px;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translate3d(0, 200%, 0);

    & + & {
      margin-top: 5px;
    }

    &:first-child {
      &.animate {
        animation: fadeInUp95 1s forwards;
      }
    }

    &:nth-child(2) {
      &.animate {
        animation: fadeInUp95 1s forwards 0.3s;
      }
    }

    &:nth-child(3) {
      &.animate {
        animation: fadeInUp95 1s forwards 0.6s;
      }
    }

    &:last-child {
      &.animate {
        animation: fadeInUp95 1s forwards 0.9s;
      }
    }
  }

  &__item-title {
    position: relative;
    padding: 20px 0;
    margin-left: -10px;
    @extend %ubuntu-medium;
    font-size: 21px;
    line-height: 28px;
    cursor: pointer;

    &::after {
      content: url('../images/arrow-down.svg');
      position: absolute;
      padding: 20px 24px;
      background-color: #fff;
      top: 0;
      right: -78px;
    }

    &.is-open::after {
      transform: rotate(180deg);
    }
  }

  &__item-text {
    line-height: 150%;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in;
  }
}

.contacts {
  &__inner {
    min-height: 100vh;
    padding-top: 20vh;
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-left: 25px;
    opacity: 0;

    &.animate {
      animation: fadeIn 1s 0.3s forwards;
    }
  }

  &__content {
    margin-top: 8vh;
    display: flex;
    align-items: center;
  }

  &__contacts-box {
    max-width: 310px;
    margin: 0 5vw 0 3vw;
  }

  &__item {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);

    & + & {
      margin-top: 30px;
    }

    &:first-child.animate {
      animation: fadeInLeft 1s forwards 0.3s;
    }

    &:nth-child(2).animate {
      animation: fadeInLeft 1s forwards 0.6s;
    }

    &:last-child.animate {
      animation: fadeInLeft 1s forwards 0.9s;
    }
  }

  &__city {
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 24px;
  }

  &__telephone {
    margin: 13px 0 5px;
    line-height: 130%;
  }

  &__email {
    line-height: 130%;

    &:hover {
      text-decoration: underline;
    }
  }

  &__form {
    margin-right: 5vw;
    max-width: 570px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &__form-title {
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 24px;
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);

    &.animate {
      animation: zoomIn 1s forwards 0.9s;
    }
  }

  &__form-text {
    opacity: 0;
    width: 100%;
    padding: 12px 0;
    line-height: 130%;
  }

  &__inputs-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__input,
  &__message {
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    opacity: 0.95;
    color: #fff;
    outline: none;

    &::placeholder {
      font-size: 13px;
      line-height: 130%;
    }
  }

  &__input {
    width: 100%;
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);

    & + & {
      margin-left: 10px;
    }

    &:first-child.animate {
      animation: zoomIn 0.5s forwards 1.2s;
    }

    &:last-child.animate {
      animation: zoomIn 0.5s forwards 1.5s;
    }
  }

  &__message {
    max-width: 570px;
    min-height: 144px;
    width: 100%;
    margin: 10px 0 20px;
    resize: none;
    opacity: 0;

    &.animate {
      animation: zoomIn 0.5s forwards 1.8s;
    }
  }

  &__btn {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);

    &.animate {
      animation: zoomInTada 2s forwards 1.8s;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
  }

  &__social-link {
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }

    & + & {
      margin-top: 25px;
    }
  }
}

.facebook-contacts {
  opacity: 0;
  transform: translate3d(300%, -300%, 0);

  &.animate {
    animation: fadeInTopRight 1s forwards 2s;
  }
}

.youtube-contacts {
  opacity: 0;
  transform: translate3d(300%, 0, 0);

  &.animate {
    animation: fadeInRight 1s forwards 2s;
  }
}

.instagram-contacts {
  opacity: 0;
  transform: translate3d(300%, 300%, 0);

  &.animate {
    animation: fadeInBottomRight 1s forwards 2s;
  }
}

.footer {
  position: absolute;
  bottom: 32px;
  right: 0;

  &__copy {
    font-size: 13px;
    line-height: 130%;
    opacity: 0.64;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;

  &.visible {
    display: flex;
  }

  &__inner {
    max-width: 780px;
    width: 95%;
    background: #1c1c1c;
    border-radius: 5px;
    padding: 35px;
  }

  &__header {
    position: relative;
  }

  &__close {
    position: absolute;
    top: -35px;
    right: -21px;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 40px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__title {
    @extend %sf-regular;
    font-size: 30px;
  }

  &__item-info {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($color: #fff, $alpha: 0.7);
    }
  }

  &__item-img {
    border-radius: 4px;
    max-width: 100px;
    max-height: 35px;
  }

  &__item-price,
  &__counter-amount {
    font-size: 17px;
  }

  &__item-name,
  &__total-price {
    font-size: 21px;
  }

  &__counter-amount {
    margin: 0 10px;
  }

  &__total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__counter {
    margin-left: 50px;
    display: flex;
    align-items: center;
  }

  &__counter-btn {
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    border: 0;
    padding: 0 10px;
  }
}

@import 'media';
